# Olympic Worlds
---

Olympians

Team members:
- Salman Bader Al-Haddad
- Sayed Hussain Asaad Almukhtar

## Introduction 
__Introduction to the topic__ 

    ...

---

## Problem Statement

    ...

## Objectives:
__Questions that will guide the analysis to solve the problem__

    ...

---

## Exploratory Data Analysis (EDA):

### Data Info:
__Getting the data and exploring it (includes descriptive statistics)__

#### Sayed Hussain

In [2]:
# import data manupilation modules
import pandas as pd
import numpy as np
import csv

# import libraries for visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#Now we will define the data path
olympic_events_path = 'Data//athlete_events.csv'
olympic_regions_path = 'Data//noc_regions.csv'

#Loading The Files
olympic_events_df = pd.read_csv(olympic_events_path)
olympic_regions_df = pd.read_csv(olympic_regions_path)

olympic_events_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,City,Sport,Event,Medal
0,1,A Dijiang,male,24.0,180.0cm,80.0kg,China,CHN,1992 Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,Male,23.0,170.0cm,60.0kg,China,CHN,2012 Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,Male,24.0,NaN,NaN,Denmark,DEN,1920 Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,FeMale,21.0,185.0cm,82.0kg,Netherlands,NED,1988 Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0cm,89.0kg,Poland-1,POL,1976 Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,male,27.0,176.0cm,59.0kg,Poland,POL,2014 Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,Male,27.0,176.0cm,59.0kg,Poland,POL,2014 Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,male,30.0,185.0cm,96.0kg,Poland,POL,1998 Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,Male,34.0,185.0cm,96.0kg,Poland,POL,2002 Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

#### Salman

### Data Handling: 
__Cleaning, transforming, and combining data__

#### Sayed Hussain

#### Salman

### Analysis: 
__Answering the objectives through data analysis__

#### Sayed Hussain

#### Salman

---

## Summary
__Summarizing the key insights from the analysis__

**Note**: _Use Bullet Points_

    ...

## Recommendations/Conclusion
**Note**: _Use Bullet Points_

    ...